<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css">
</head>
<body>
  <div class="sus">
    <app-header></app-header>
  </div>
  <div class="main-section">
    <div class="head-section">
      <div class="headLeft-section">
        <div class="headLeft-sub">
          <input type="text" name="search" placeholder="Search...">
          <button aria-label=".">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div class="headRight-section">
        <div class="headRight-sub">
          <h3>Ana</h3>
          <small>Laywer</small>
        </div>
      </div>
    </div>
    <div class="body-section">
      <div class="left-section mCustomScrollbar" data-mcs-theme="minimal-dark">
        <ul>

          <!-- People Switching -->
          <li *ngFor="let chat of chats" [class.active]="chat.active" (click)="toggleActive(chat)">
            <div class="chatList">
                <div class="img">
                    <img aria-label="." [src]="chat.image">
                </div>
                <div class="desc">
                    <small class="time">{{ chat.time }}</small>
                    <h5>{{ chat.name }}</h5><br>
                    <small>{{ chat.message }}</small>
                </div>
            </div>
        </li>
        </ul>
      </div>
      <div class="right-section">

        <!-- Chats Switching -->
        <div class="message mCustomScrollbar" data-mcs-theme="minimal-dark">
          <br>
          <ul>
            <li *ngFor="let msg of messages" [ngClass]="{'msg-left': msg.sender === 'other', 'msg-right': msg.sender === 'user'}">
              <div [ngClass]="{'msg-left-sub': msg.sender === 'other', 'msg-right-sub': msg.sender === 'user'}">
                <img [src]="msg.image" aria-label=".">
                <div class="msg-desc">{{ msg.message }}</div>
                <small>{{ msg.time }}</small>
              </div>
            </li>
          </ul>
        </div>
          <div class="right-section-bottom">
              <div class="upload-btn">
                <button aria-label="." class="btn">
                  <i class="fa fa-photo"></i>
                </button>
                <input aria-label="." type="file" name="myfile" />
              </div>
                <input type="text" placeholder="type here..." [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
                <button aria-label="." aria-label="." class="btn-send" (click)="sendMessage()">
                  <i class="fa fa-send"></i>
                </button>
          </div>
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- custom scrollbar plugin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
</body>