<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a routerLink="/" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-6 text-uppercase text-primary"><i class=""></i></h1>
        </a>
        <button aria-label="." type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item nav-link">Home</a>
                <a routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item nav-link">&nbsp;Blog&nbsp;</a>
                <a routerLink="/chat" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item nav-link">&nbsp;Chat&nbsp;</a>
                <!-- <div class="nav-item dropdown" appDropdownHover>
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="blog.html" class="dropdown-item">Chat</a>
                        <a href="single.html" class="dropdown-item">Ticket</a>
                    </div>
                </div> -->
                <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item nav-link">Contact</a>
            </div>
            <div class="py-2 px-4 d-none d-lg-block">
                <a routerLink="/login" class="py-2 px-2">Login</a>
                <span class="py-2"> / </span>
                <a routerLink="/register" class="py-2 px-2">Register</a>
            </div>
        </div>
    </nav>
</div>
