@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

.sus{
  margin-top: -8px;
}

.sus_foot{
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button {
  margin: 0;
  font-family: Georgia, serif;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type="button"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:hover,
.btn:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #ffa480;
  border-color: #ffa480;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #757575;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #757575;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 72, 0, 0.25);
}

.btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #688306;
  border-color: #688306;
}

.btn-primary:hover {
  color: #fff;
  background-color: #4f6209;
  border-color: #4f6209;
}

.btn-primary:focus {
  color: #fff;
  background-color: #4f6209;
  border-color: #4f6209;
  box-shadow: 0 0 0 0.2rem rgba(255, 99, 38, 0.5);
}

.btn-primary:disabled {
  color: #fff;
  background-color: #688306;
  border-color: #688306;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group > .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.input-group-append .btn:focus {
  z-index: 3;
}

.input-group-append {
  margin-left: -1px;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
}

@supports (position: sticky) {
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.px-3 {
  padding-right: 1rem !important;
}

.px-3 {
  padding-left: 1rem !important;
}

.py-5 {
  padding-top: 3rem !important;
}

.py-5 {
  padding-bottom: 3rem !important;
}

.mx-auto {
  margin-right: auto !important;
}

.mx-auto {
  margin-left: auto !important;
}

.text-center {
  text-align: center !important;
}

/********** Template CSS ************/

.jumbotron {
  background: linear-gradient(rgba(123, 114, 114, 0.8), rgba(57, 57, 57, 0.8));
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.logos {
    width: 976px;
    height: 352px;
    background-image: url('/assets/wink.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #757575;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #757575;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 72, 0, 0.25);
}

.btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #688306;
  border-color: #688306;
}

.btn-primary:hover {
  color: #fff;
  background-color: #4f6209;
  border-color: #4f6209;
}

.btn-primary:focus {
  color: #fff;
  background-color: #4f6209;
  border-color: #4f6209;
  box-shadow: 0 0 0 0.2rem rgba(255, 99, 38, 0.5);
}

.btn-primary:disabled {
  color: #fff;
  background-color: #688306;
  border-color: #688306;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}


.input-group-append {
  display: flex;
}

.border-light {
  border-color: #FFFFFF !important;
}

@supports (position: sticky) {
}

.mb-5 {
  margin-bottom: 3rem !important;
}


.py-5 {
  padding-top: 3rem !important;
}

.py-5 {
  padding-bottom: 3rem !important;
}

.text-center {
  text-align: center !important;
}