<body>
<div class="sus">
    <app-header></app-header>
</div>

<!-- Middle -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <div class="logos"></div>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Ask the Lawyer...">
                <div class="input-group-append">
                    <button class="btn btn-primary px-3">Ask</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Middle End -->

<app-footer></app-footer>
</body>