<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
</head>
<body>
    <div class="sus">
        <app-header></app-header>
    </div>
    <main>
        <article>
            <a routerLink="/blogdetail">
                <h2>Blog Post Title</h2>
                <p>Posted on <time datetime="2024-02-19">February 19, 2024</time></p>
                <p>This is the content of my first blog post. Here, you can write about anything you're interested in. Remember, the best blogs are those that provide value to their readers, whether it's through sharing knowledge, experiences, or just a good story.</p>
            </a>
        </article>

        <article>
            <a routerLink="/blogdetail">
                <h2>Another Blog Post</h2>
                <p>Posted on <time datetime="2024-02-20">February 20, 2024</time></p>
                <p>This is your second post. Each post should be something you're passionate about or interested in. Engage your readers with compelling content, and they'll keep coming back for more.</p>
            </a>
        </article>

        <article>
            <a routerLink="/blogdetail">
                <h2>Another Blog Post</h2>
                <p>Posted on <time datetime="2024-02-20">February 20, 2024</time></p>
                <p>This is your second post. Each post should be something you're passionate about or interested in. Engage your readers with compelling content, and they'll keep coming back for more.</p>
            </a>
        </article>

    </main>
</body>
<app-footer></app-footer>